<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="youtubePublishingService" class="org.entermedia.youtube.YouTubePublishingService">
	</bean>
	<bean id="YouTubeModule" class="org.entermedia.youtube.YouTubeModule">
	</bean>
		<bean id="youtubepublisher" class="org.entermedia.youtube.YoutubePublisher" />
	
</beans>